<pool type='dir'>
  <name>default</name>
  <target>
    <path>{{ virt_pool_path }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>1000</owner>
      <group>1000</group>
    </permissions>
  </target>
</pool>

